.slider {
	width:100%; margin:auto; position:relative; user-select:none;
	.sl-viewport {overflow:hidden; touch-action: pan-y;}
	.sl-track {width:100%;display:flex; justify-content:space-between; transition:transform 0.5s ease-in-out;}
	.sl-slide {flex:0 0 auto;}
	.sl-btn {
		position:absolute; top:50%; transform:translateY(-50%); transition:0.3s all; opacity:0.25; 
		display:block; width:3rem; height:3rem; cursor:pointer; border-radius:50%; font-size:0;
		&.prevsl {left:1rem; background:rgba(0,0,0,0.4) url(prev.svg) no-repeat center center / 2rem;}
		&.nextsl {right:1rem; background:rgba(0,0,0,0.4) url(next.svg) no-repeat center center / 2rem;}
	}
	&:hover .sl-btn {opacity:1;}
	.sl-dots {
		position:absolute; top:100%; width:100%; display:flex; justify-content:center; gap:0.7rem; padding:1rem 0;
		.sl-dot {
			width:0.7rem; height:0.7rem; border-radius:50%; background:rgba(0,0,0,0.4); cursor:pointer;
			&.active {background: rgba(0,0,0,.85);}
		}
	}
}